.PayButton-Basket{
  background-color: black;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Inter';
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.ClearButton-Basket{
  background-color: rgb(0,0,0,0);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0,0,0,0.55);
  border-radius: 10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-family: 'Inter';
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
