.basket-header{
    font-size: 32px;
    text-align: center;
}

.basket-main{
    padding: 20px 100px;
}

.basket_container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: #fff1a3; 
    padding: 20px; 
    border-radius: 20px; 
    margin-top: 5px; 
    row-gap: 20px;
}

.basket_container img{
    height: 200px;
    width: auto;
}

.basket-details{
    margin-left: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    span{
        font-size: 32px;
        font-family: 'Nunito';
        margin-bottom: 10px;
        width: fit-content;
    }
    p{
        width: fit-content;
    }
}
.basket-controlsBlock{
    margin-left: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.basket-controls{
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-top: 5px;
    button{
        border-radius: 10px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        background-color:#62d475;
        width: 20px;
        height: 20px;
        margin: 0px 3px;
        cursor: pointer;
    }
    input{
         border-radius: 5px;
         height: 20px;
    }
}

.basket-item-quantity{
    width: 25px;
    text-align: center;
}

.basket-item-price{
    margin-left: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    min-width: 62px;
}

.basket-image{
    height: 100%;
    border-radius: 20px;
}

@media (max-width: 993px) {
    .basket_container{
    grid-template-columns: repeat(1, auto);
    justify-content: center;   
    justify-items: center;
    row-gap: 0px;
}
.basket-image{
    padding-top: 20px;}
.basket-details{
    margin-left: 0px;
    max-width: 400px;
    align-items: center;
    text-align: center;
}
.basket-controlsBlock{
    margin-left: 0px;
}
.basket-item-price{
    margin-left: 0px;
}
}
@media(max-width:540px){
    .basket-main{
    padding: 20px 30px;
    }
}