.basket-header{
    font-size: 32px;
    text-align: center;
}
.basket-main{
    padding: 20px 100px;
    font-family: 'Inter';
}
@media(max-width:485px) { 
    .BasketButtons{
        display: flex;
        flex-direction: column;
    }
}