.catalog-header{
    font-size: 32px;
    text-align: center;
}
.catalog-main{
    padding: 20px 100px;
    display: flex;
    flex-direction:column;
}
.pizza-menu-container{
    display: flex;
    justify-content: center;
}
@media(max-width: 850px){
.pizza-menu-container{
    margin: 0 auto;
    justify-content: center;
    flex-direction:column;
}
}
@media(max-width: 630px){
.catalog-main{
    padding: 20px 50px;
}
}