.catalog-header{
    font-size: 32px;
    text-align: center;
}
.catalog-main{
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;   
    justify-items: center;    
     column-gap: 10px;
     row-gap: 15px;
}
@media(max-width: 850px){
.catalog-main{
grid-template-columns: repeat(1, auto);}
}
