@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'base.css';
  

header{
  background-image: linear-gradient(to right, #0F6B13, #1DD126);
  padding: 25px 50px;
}
.main-header{
  height: 180px;
}
.logo img{
  width: 350px;

}
.logo{
  width: 35%;
  float: left;
}
h1{
  visibility: hidden;
}

nav{
  float: left;
  text-align: center;
  padding: 50px 
}
nav a{
  font-family: 'Nunito';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
}
nav .top-menu li {
  display: inline-block;
  margin-right: 30px;
}
.pizza-image img {
width: 100%;
}
