@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{width: 100% ;}
header{
  width: 100%;
  height: 180px;
  background-image: linear-gradient(to right, #0F6B13, #1DD126);
  padding: 25px 50px;
}
.logo img{
  width: 350px;

}
.logo{
  width: 25%;
  float: left;
}
h1{
  visibility: hidden;
}

nav{
  float: left;
  padding: 50px 0px 0 150px;
}
nav a{
  font-family: 'Nunito';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
}
nav .top-menu li {
  display: inline-block;
  margin-right: 30px;
}
.pizza-image img {
width: 100%;
}
