footer{
    .footer-logo img{
      height: 50px;  
    }
    background-image: linear-gradient(to right, #0F6B13, #1DD126);
    padding: 10px 30px 30px 30px;
    nav a{
    font-family: 'Nunito';
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);}

    a {
    margin: 102px;
    }  
}
.dark-theme footer {
    background-image: linear-gradient(to right, #151f17ff, #6e6e6eff);
}

.main-date{
font-family: 'Nunito';
    font-size: 26px;
    color: rgba(0, 0, 0, 0.55);
 text-align: center;
}
.main-footer{
  padding: 10px 0px 10px 0px;
}