footer{
    .footer-logo img{
      height: 50px;  
    }
    background-image: linear-gradient(to right, #0F6B13, #1DD126);
    padding: 20px 50px;
    nav a{
    font-family: 'Nunito';
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
    }
}