.index-header{
  height: 180px;
}
.logo img{
  width: 350px;
}
.logo{
  width: 35%;
  float: left;
}
.index-header h1{
  visibility: hidden;
}
.index-nav{
  float: left;
  text-align: center;
  padding: 50px 
}
.index-nav a{
  font-family: 'Nunito';
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
}
.index-nav .top-menu li {
  display: inline-block;
  margin-right: 30px;
}
.pizza-image img {
width: 100%;
}
