.logo img{
  height: 125px;
  width: auto;
}
.logo{
  width: 416px;
  display: flex;
  align-items: center;
}
.index-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{visibility: hidden;}
}
.index-nav{
  width: 433px;
  display: flex;
  justify-content: space-between;
}
.index-nav a{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
}
.social-networks-list{
  margin-left: 183px;
}
.social-networks-list li{
  display: inline-block;
  margin-right: 30px;
}
.index-nav .top-menu li {
  display: inline-block;
  margin-left: 30px;
}
.main-main{
  background-image: url('../images/PizzaMainPage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media(max-width: 1365px){
  .index-nav .top-menu li {
  display: block;
  margin-left: 0px;
}
.social-networks-list li{
  display: block;
}
}

@media(max-width: 915px){
.index-header{
flex-direction:column;
align-items:flex-start}
.logo{
  width: 195px;}
  .logo img{
  width: 100%;
  height: auto;
}

.index-nav{
  width: 35%;
}
.index-nav a{
  font-size: 15px;
}
.index-nav .top-menu li {
  display: block;
  margin-left: 0px;
}
.social-networks-list{
  margin-left: 0px;
}
.social-networks img{
    width: 25px;
  }
  .social-networks-list li{
  display: inline-block;
  margin-right: 15px;
}
}