.index-header{
  height: 180px;
}
.logo img{
  height: 125px;
  width: auto;
}
.logo{
  width: 416px;
  display: flex;
  align-items: center;
}
.index-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1{visibility: hidden;}
}
.index-nav{
  width: 433px;
  display: flex;
  justify-content: space-between;
}
.index-nav a{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55);
}
.index-nav .top-menu li {
  display: inline-block;
  margin-right: 30px;
}
.pizza-image img {

width: 100%;
}
