@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'base.css';
@import 'catalog_tiles.css';
@import 'social-networks.css';
@import 'index.css';
@import 'footer.css';
@import 'header.css';
@import 'catalog-tiles.css'; 
@import 'basket.css'; 
@import 'contacts.css'; 